adal==1.2.4
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
azure-common==1.1.25
azure-servicebus==0.50.3
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
cryptography==3.0
idna==2.10
iniconfig==1.0.1
isodate==0.6.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.4.0
msrest==0.6.18
msrestazure==0.6.4
oauthlib==3.1.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.5.3
pyparsing==2.4.7
pytest==6.0.1
pytest-asyncio==0.14.0
python-dateutil==2.8.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
toml==0.10.1
uamqp==1.2.10
urllib3==1.25.10
wrapt==1.12.1
